<% include header %>

<main>
    <h5 style="width:50%;padding:10px;background:#99ff99;color:#006600;margin-left:auto;margin-right:auto;margin-top:30px;">
        Logged Sucessfully.You may return to shop tab.
    </h5>
</main>
<script>
    setTimeout(function(){
        window.close();
    },2000);
</script>
<% include footer %>